<style>
  strong,
  b {
    font-weight: 700;
  }

  .cc11 {
    width: 87.5px;
    height: 20px;
  }

  .cc12 {
    width: 87.5px;
    height: 36.5px;
  }

  .cc18 {
    margin: 0;
    padding: 0;
    font-family: avenir_book;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.040em;
  }

  .cc19 {
    margin: 0;
    padding: 0;
    font-family: avenir_heavy;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.06em;
  }

  .cc20 {
    margin: 0;
    padding: 0;
    font-family: avenir_medium;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.06em;
  }

  .cc21 {
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    border: 0;
    height: 1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    clip-path: inset(0px 0px 99.9% 99.9%);
  }

  .cc22 {
    font-size: 32px;
  }

  @media (min-width:960px) {
    .cc22 {
      font-size: 56px;
    }
  }

  .cc23 {
    font-size: 32px;
  }

  @media (min-width:960px) {
    .cc23 {
      font-size: 44px;
    }
  }

  .cc24 {
    font-size: 24px;
  }

  @media (min-width:960px) {
    .cc24 {
      font-size: 32px;
    }
  }

  .cc25 {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.4;
  }

  @media (min-width:960px) {
    .cc25 {
      font-size: 20px;
      margin-top: 24px;
    }
  }

  .cc26 {
    font-size: 15px;
    margin-top: 12px;
    line-height: 1.4;
  }

  @media (min-width:960px) {
    .cc26 {
      font-size: 16px;
      margin-top: 16px;
    }
  }

  .cc27 {
    font-size: 18px;
  }

  @media (min-width:960px) {
    .cc27 {
      font-size: 20px;
    }
  }

  .cc28 {
    font-size: 15px;
  }

  @media (min-width:960px) {
    .cc28 {
      font-size: 16px;
    }
  }

  .cc29 {
    text-align: center;
  }

  .cc30 {
    text-align: left;
  }

  .cc31 {
    text-align: right;
  }

  .cc32 {
    text-align: inherit;
  }

  .cc10 {
    color: inherit;
    text-decoration: none;
  }

  .cc10:hover {
    text-decoration: underline;
  }

  .cc79 {
    display: block;
  }

  .cc79 img {
    width: 100%;
    height: 100%;
  }

  .cc62 {
    margin: auto;
    padding: 0px 16px;
    max-width: 1200px;
  }

  @media (min-width:600px) {
    .cc62 {
      height: 100px;
      padding: 0px 16px;
    }
  }

  @media (min-width:960px) {
    .cc62 {
      padding: 0px 32px;
    }
  }

  .cc63 {
    height: 100%;
    display: flex;
    padding: 32px 0px;
    border-top: 1px solid #d9d9d9;
    flex-direction: column;
  }

  @media (min-width:600px) {
    .cc63 {
      padding: 0;
      align-items: center;
      flex-direction: row;
    }
  }

  .cc64 {
    margin: 40px auto 0;
    display: flex;
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: column;
  }

  @media (min-width:600px) {
    .cc64 {
      margin: 40px auto;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width:960px) {
    .cc64 {
      padding: 0 32px;
      justify-content: unset;
    }
  }

  .cc65 {
    display: none;
  }

  @media (min-width:960px) {
    .cc65 {
      display: block;
      flex-grow: 1;
    }
  }

  .cc66 {
    flex-grow: 1;
  }

  .cc67 {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .cc67 picture {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
  }

  .cc68 {
    width: 34px;
  }

  .cc69 {
    fill: #666666;
    width: 24px;
    height: 24px;
    transition: fill 175ms ease-in-out;
  }

  .cc69:hover {
    fill: #000;
  }

  .cc70 {
    width: 66px;
    height: 15px;
    display: block;
    margin-bottom: 8px;
  }

  @media (min-width:600px) {
    .cc70 {
      margin-bottom: 10px;
    }
  }

  .cc71 {
    margin-top: 32px;
  }

  @media (min-width:600px) {
    .cc71 {
      width: 130px;
      margin-top: 0;
    }
  }

  @media (min-width:960px) {
    .cc71 {
      width: 140px;
      margin-left: 64px;
    }
  }

  .cc71:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  .cc71 a {
    color: #666666;
    display: block;
    text-decoration: none;
  }

  .cc71 ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .cc71 li {
    border: none;
    display: block;
    text-align: left;
    padding-top: 12px;
  }

  .cc71 a:hover {
    text-decoration: underline;
  }

  .cc72 {
    color: #333333;
  }

  .cc73 {
    width: 220px;
    height: 20px;
    display: block;
  }

  .cc74 {
    width: 100%;
    background-color: #f2f2f2;
  }

  .cc75 {
    margin-top: 24px;
    margin-left: -8px;
    margin-bottom: 24px;
  }

  @media (min-width:600px) {
    .cc75 {
      margin-top: -8px;
      margin-left: 0;
      margin-right: -8px;
      margin-bottom: 0;
    }
  }

  .cc75 a {
    color: #000;
    display: block;
    padding: 8px;
    position: relative;
  }

  .cc75 ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .cc75 li {
    display: table-cell;
  }

  .cc76 {
    margin-top: 24px;
  }

  @media (min-width:600px) {
    .cc76 {
      margin-top: 0;
    }
  }

  @media (min-width:600px) {
    .cc77 {
      text-align: right;
    }
  }

  .cc78 {
    color: #999999;
    font-size: 12px;
  }

  .cc1 {
    color: #007aff;
  }

  .cc2 {
    cursor: pointer;
    padding: 8px 16px;
    align-self: center;
  }

  .cc3 {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    max-width: 1200px;
    flex-direction: row;
  }

  @media (min-width:960px) {
    .cc3 {
      padding: 0 16px;
    }
  }

  .cc4 {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .cc5 {
    flex-grow: 1;
  }

  .cc6 {
    padding: 0 16px;
  }

  .cc7 {
    width: 87.5px;
    height: 60px;
    display: block;
  }

  .cc8 {
    position: fixed;
  }

  .cc9 {
    width: 100%;
    height: 60px;
    z-index: 99;
    position: relative;
  }

  .cc14 {
    width: 100%;
    margin: auto;
    max-width: 1000px;
  }

  .cc15 {
    width: 100%;
    margin: auto;
  }

  .cc58 {
    margin: 48px auto;
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    background-color: #f2f2f2;
  }

  @media (min-width:960px) {
    .cc58 {
      width: auto;
      padding: 24px;
    }
  }

  .cc59 {
    color: #999999;
  }

  .cc60 {
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }

  @media (min-width:960px) {
    .cc60 {
      margin-right: 24px;
    }
  }

  .cc61 {
    color: #007aff;
  }

  .cc46 {
    display: flex;
    align-items: center;
  }

  .cc47 {
    margin-left: 16px;
  }

  .cc48 {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cc49 {
    width: 17px;
    height: 17px;
  }

  .cc50 {
    color: #999999;
  }

  .cc52 {
    color: inherit;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #f2f2f2;
  }

  @media (min-width:960px) {
    .cc52 {
      margin-top: 24px;
    }
  }

  .cc52::before {
    background-color: transparent;
  }

  .cc52.cc51 {
    margin-top: 16px;
  }

  @media (min-width:960px) {
    .cc52.cc51 {
      margin-top: 24px;
    }
  }

  .cc52.cc51:first-child {
    margin-top: 16px;
  }

  @media (min-width:960px) {
    .cc52.cc51:first-child {
      margin-top: 24px;
    }
  }

  .cc54 {
    padding: 16px;
    min-height: auto;
  }

  @media (min-width:960px) {
    .cc54 {
      padding: 24px;
    }
  }

  .cc54.cc53 {
    min-height: auto;
  }

  .cc55 {
    margin: 0;
    align-items: center;
  }

  .cc55.cc53 {
    margin: 0;
  }

  .cc56 {
    margin: 0;
    padding: 0;
  }

  .cc56.cc53 {
    transform: rotate(45deg);
  }

  .cc57 {
    display: block;
    padding: 0 16px 16px;
  }

  @media (min-width:600px) {
    .cc57 {
      padding: 0 32px 40px 68px;
    }
  }

  @media (min-width:960px) {
    .cc57 {
      padding: 0 40px 48px 76px;
    }
  }

  .cc57 p:first-child {
    margin-top: 0;
  }

  .cc33 {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  @media (min-width:600px) {
    .cc33 {
      flex-direction: row;
    }
  }

  .cc34 {
    margin: 0 16px 0;
  }

  @media (min-width:600px) {
    .cc34 {
      margin: 0 auto 48px;
      padding: 0 16px;
      max-width: 600px;
    }
  }

  @media (min-width:960px) {
    .cc34 {
      margin: 0 auto 72px;
      padding: 0 32px;
      max-width: 800px;
    }
  }

  .cc35 {
    margin: 48px auto;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 12px;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  @media (min-width:600px) {
    .cc35 {
      flex-direction: row;
    }
  }

  @media (min-width:960px) {
    .cc35 {
      width: auto;
      padding: 24px;
    }
  }

  .cc35:last-child {
    margin-bottom: 0;
  }

  .cc36 {
    margin: 24px auto;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 12px;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  @media (min-width:600px) {
    .cc36 {
      flex-direction: row;
    }
  }

  @media (min-width:960px) {
    .cc36 {
      width: auto;
      padding: 24px;
    }
  }

  .cc37 {
    color: #999999;
  }

  .cc38 {
    width: 80px;
    height: auto;
    margin-bottom: 16px;
  }

  @media (min-width:600px) {
    .cc38 {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  @media (min-width:960px) {
    .cc38 {
      margin-right: 24px;
    }
  }

  .cc39 {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .cc39 img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
  }

  .cc40 {
    display: flex;
    margin-top: 24px;
    text-align: center;
    align-items: center;
  }

  @media (min-width:960px) {
    .cc40 {
      margin-top: 32px;
    }
  }

  .cc41 {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .cc42 {
    color: #007aff;
  }

  .cc43 {
    padding-top: 48px;
  }

  @media (min-width:960px) {
    .cc43 {
      padding-top: 72px;
    }
  }

  .cc44 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
  }

  .cc45 {
    text-align: left;
  }

  .cc16 {
    width: 45px;
    height: 60px;
    margin: 0 auto 16px;
    display: block;
  }

  @media (min-width:960px) {
    .cc16 {
      margin-bottom: 24px;
    }
  }

  .cc17 {
    text-align: center;
    padding-top: 48px;
  }

  @media (min-width:600px) {
    .cc17 {
      padding-top: 72px;
    }
  }

  .cc13 {
    margin: auto;
    max-width: 1200px;
  }
</style>

<main class="jsx-262e2477fd6b5ca">
  <div class="cc15 cc13">
    <div class="cc17">
      <img 
        class="cc16" 
        srcSet="{{ 'icon6252.png' | asset_url }}"
        alt="Ícone documento" 
      />
      <h2 class="cc19 cc22 cc32">Política de vendas.</h2>
      <h3 class="cc18 cc24 cc32">Justa e sem burocracia.</h3>
    </div>
    <div class="cc33">
      <div class="cc34">
        <section id="garantia" style="margin-top:-59px;padding-top:59px">
          <div class="cc43">
            <h2 class="cc19 cc24 cc32 cc44">Garantia</h2>
            <p class="cc18 cc25 cc32">
              Todos os produtos da {{ shop.name }} possuem uma durabilidade excepcional, por isso, realmente acreditamos que eles farão
              parte da sua vida por muito tempo.
            </p>
            <p class="cc18 cc25 cc32">
              Entendemos, porém, que eventuais problemas podem acontecer. Caso esta hipótese pouquíssimo provável aconteça, nós
              sempre estaremos à disposição para te ajudar.
            </p>
          </div>
        </section>
        <section id="formas-de-envio" style="margin-top:-59px;padding-top:59px">
          <div class="cc43">
            <h2 class="cc19 cc24 cc32 cc44">Formas de envio</h2>
            <p class="cc18 cc25 cc32">
              A {{ shop.name }} oferece envio grátis para todo o Brasil. Para algumas regiões, é possível optar pelo envio expresso. Os
              prazos de entrega variam de acordo com cada região, por isso, são calculados durante a finalização do pedido.
            </p>
            <p class="cc18 cc25 cc32">
              Os prazos de entrega passam a ser contabilizados após a postagem. Todos os pedidos são postados em até um dia útil
              após a confirmação do pagamento.
            </p>
          </div>
        </section>
        <section id="trocas-e-devolucoes" style="margin-top:-59px;padding-top:59px">
          <div class="cc43">
            <h2 class="cc19 cc24 cc32 cc44">Trocas e devoluções</h2>
            <div class="cc36">
              <div class="cc41">
                <div class="cc39"><img src="{{ 'icon_package.svg' | asset_url }}" alt="Ícone de uma caixa de papelão" /></div>
                <div class="cc45">
                  <div class="cc19 cc28 cc32">Solicite uma troca ou devolução</div>
                  <div class="cc18 cc28 cc32 cc37">
                    <a class="cc10 cc42" href="/pages/contact/">Fale com a equipe de suporte da {{ shop.name }} ›</a></div>
                </div>
              </div>
            </div>
            <p class="cc18 cc25 cc32">Nós confeccionamos produtos de excelência porque realmente queremos que você adore ser nosso cliente. Entendemos,
              porém, que um produto comprado online pode não ser exatamente como você esperava, por isso, lhe reservamos o direito de solicitar uma troca ou
              devolução por qualquer motivo. É fácil, rápido e totalmente grátis.</p>
            <p class="cc18 cc25 cc32">O prazo para solicitar uma troca ou devolução é de sete dias após a entrega do pedido. Para que a solicitação de
              troca ou devolução seja aceita, é imprescindível que o pedido esteja em perfeitas condições, sem indícios de mau uso.</p>
            <p class="cc18 cc25 cc32">Em casos de devolução, o pagamento será reembolsado assim que o pedido retornar para a {{ shop.name }} e for cancelado.
              Pagamentos por cartão de crédito serão estornados na própria fatura, já pagamentos por Pix ou boleto bancário serão reembolsados via Pix ou
              transferência bancária.</p>
          </div>
        </section>
        <div class="cc58"><img class="cc60" src="{{ 'icon_double_chat_bubble-gray.svg' | asset_url }}" />
          <div>
            <div class="cc19 cc28 cc32 cc59">Precisa de ajuda?</div>
            <div class="cc18 cc28 cc32 cc59">Sempre estaremos aqui para te ajudar.</div>
            <div class="cc18 cc28 cc32">
              <a class="cc10 cc61" href="href="https://wa.me/{{ shop.phone }}"">
                Fale com a equipe de suporte da {{ shop.name }} ›
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>