<style>
  strong,
  b {
    font-weight: 700;
  }

  body {
    color: #000;
    margin: 0;
    min-width: 320px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
  }

  @media print {
    body {
      background-color: #fff;
    }
  }

  body::backdrop {
    background-color: #fff;
  }

  .css11 {
    width: 87.5px;
    height: 20px;
  }

  .css12 {
    width: 87.5px;
    height: 36.5px;
  }

  .css18 {
    margin: 0;
    padding: 0;
    font-family: avenir_book;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.040em;
  }

  .css19 {
    margin: 0;
    padding: 0;
    font-family: avenir_heavy;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.06em;
  }

  .css20 {
    margin: 0;
    padding: 0;
    font-family: avenir_medium;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.06em;
  }

  .css21 {
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    border: 0;
    height: 1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    clip-path: inset(0px 0px 99.9% 99.9%);
  }

  .css22 {
    font-size: 32px;
  }

  @media (min-width:960px) {
    .css22 {
      font-size: 56px;
    }
  }

  .css23 {
    font-size: 32px;
  }

  @media (min-width:960px) {
    .css23 {
      font-size: 44px;
    }
  }

  .css24 {
    font-size: 24px;
  }

  @media (min-width:960px) {
    .css24 {
      font-size: 32px;
    }
  }

  .css25 {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.4;
  }

  @media (min-width:960px) {
    .css25 {
      font-size: 20px;
      margin-top: 24px;
    }
  }

  .css26 {
    font-size: 15px;
    margin-top: 12px;
    line-height: 1.4;
  }

  @media (min-width:960px) {
    .css26 {
      font-size: 16px;
      margin-top: 16px;
    }
  }

  .css27 {
    font-size: 18px;
  }

  @media (min-width:960px) {
    .css27 {
      font-size: 20px;
    }
  }

  .css28 {
    font-size: 15px;
  }

  @media (min-width:960px) {
    .css28 {
      font-size: 16px;
    }
  }

  .css29 {
    text-align: center;
  }

  .css30 {
    text-align: left;
  }

  .css31 {
    text-align: right;
  }

  .css32 {
    text-align: inherit;
  }

  .css10 {
    color: inherit;
    text-decoration: none;
  }

  .css10:hover {
    text-decoration: underline;
  }

  .css79 {
    display: block;
  }

  .css79 img {
    width: 100%;
    height: 100%;
  }

  .css62 {
    margin: auto;
    padding: 0px 16px;
    max-width: 1200px;
  }

  @media (min-width:600px) {
    .css62 {
      height: 100px;
      padding: 0px 16px;
    }
  }

  @media (min-width:960px) {
    .css62 {
      padding: 0px 32px;
    }
  }

  .css63 {
    height: 100%;
    display: flex;
    padding: 32px 0px;
    border-top: 1px solid #d9d9d9;
    flex-direction: column;
  }

  @media (min-width:600px) {
    .css63 {
      padding: 0;
      align-items: center;
      flex-direction: row;
    }
  }

  .css64 {
    margin: 40px auto 0;
    display: flex;
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: column;
  }

  @media (min-width:600px) {
    .css64 {
      margin: 40px auto;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width:960px) {
    .css64 {
      padding: 0 32px;
      justify-content: unset;
    }
  }

  .css65 {
    display: none;
  }

  @media (min-width:960px) {
    .css65 {
      display: block;
      flex-grow: 1;
    }
  }

  .css66 {
    flex-grow: 1;
  }

  .css67 {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .css67 picture {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
  }

  .css68 {
    width: 34px;
  }

  .css69 {
    fill: #666666;
    width: 24px;
    height: 24px;
    transition: fill 175ms ease-in-out;
  }

  .css69:hover {
    fill: #000;
  }

  .css70 {
    width: 66px;
    height: 15px;
    display: block;
    margin-bottom: 8px;
  }

  @media (min-width:600px) {
    .css70 {
      margin-bottom: 10px;
    }
  }

  .css71 {
    margin-top: 32px;
  }

  @media (min-width:600px) {
    .css71 {
      width: 130px;
      margin-top: 0;
    }
  }

  @media (min-width:960px) {
    .css71 {
      width: 140px;
      margin-left: 64px;
    }
  }

  .css71:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  .css71 a {
    color: #666666;
    display: block;
    text-decoration: none;
  }

  .css71 ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .css71 li {
    border: none;
    display: block;
    text-align: left;
    padding-top: 12px;
  }

  .css71 a:hover {
    text-decoration: underline;
  }

  .css72 {
    color: #333333;
  }

  .css73 {
    width: 220px;
    height: 20px;
    display: block;
  }

  .css74 {
    width: 100%;
    background-color: #f2f2f2;
  }

  .css75 {
    margin-top: 24px;
    margin-left: -8px;
    margin-bottom: 24px;
  }

  @media (min-width:600px) {
    .css75 {
      margin-top: -8px;
      margin-left: 0;
      margin-right: -8px;
      margin-bottom: 0;
    }
  }

  .css75 a {
    color: #000;
    display: block;
    padding: 8px;
    position: relative;
  }

  .css75 ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .css75 li {
    display: table-cell;
  }

  .css76 {
    margin-top: 24px;
  }

  @media (min-width:600px) {
    .css76 {
      margin-top: 0;
    }
  }

  @media (min-width:600px) {
    .css77 {
      text-align: right;
    }
  }

  .css78 {
    color: #999999;
    font-size: 12px;
  }

  .css1 {
    color: #007aff;
  }

  .css2 {
    cursor: pointer;
    padding: 8px 16px;
    align-self: center;
  }

  .css3 {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    max-width: 1200px;
    flex-direction: row;
  }

  @media (min-width:960px) {
    .css3 {
      padding: 0 16px;
    }
  }

  .css4 {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .css5 {
    flex-grow: 1;
  }

  .css6 {
    padding: 0 16px;
  }

  .css7 {
    width: 87.5px;
    height: 60px;
    display: block;
  }

  .css8 {
    position: fixed;
  }

  .css9 {
    width: 100%;
    height: 60px;
    z-index: 99;
    position: relative;
  }

  .css14 {
    width: 100%;
    margin: auto;
    max-width: 1000px;
  }

  .css15 {
    width: 100%;
    margin: auto;
  }

  .css58 {
    margin: 48px auto;
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    background-color: #f2f2f2;
  }

  @media (min-width:960px) {
    .css58 {
      width: auto;
      padding: 24px;
    }
  }

  .css59 {
    color: #999999;
  }

  .css60 {
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }

  @media (min-width:960px) {
    .css60 {
      margin-right: 24px;
    }
  }

  .css61 {
    color: #007aff;
  }

  .css46 {
    display: flex;
    align-items: center;
  }

  .css47 {
    margin-left: 16px;
  }

  .css48 {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .css49 {
    width: 17px;
    height: 17px;
  }

  .css50 {
    color: #999999;
  }

  .css52 {
    color: inherit;
    margin-top: 16px;
    border-radius: 12px;
    background-color: #f2f2f2;
  }

  @media (min-width:960px) {
    .css52 {
      margin-top: 24px;
    }
  }

  .css52::before {
    background-color: transparent;
  }

  .css52.css51 {
    margin-top: 16px;
  }

  @media (min-width:960px) {
    .css52.css51 {
      margin-top: 24px;
    }
  }

  .css52.css51:first-child {
    margin-top: 16px;
  }

  @media (min-width:960px) {
    .css52.css51:first-child {
      margin-top: 24px;
    }
  }

  .css54 {
    padding: 16px;
    min-height: auto;
  }

  @media (min-width:960px) {
    .css54 {
      padding: 24px;
    }
  }

  .css54.css53 {
    min-height: auto;
  }

  .css55 {
    margin: 0;
    align-items: center;
  }

  .css55.css53 {
    margin: 0;
  }

  .css56 {
    margin: 0;
    padding: 0;
  }

  .css56.css53 {
    transform: rotate(45deg);
  }

  .css57 {
    display: block;
    padding: 0 16px 16px;
  }

  @media (min-width:600px) {
    .css57 {
      padding: 0 32px 40px 68px;
    }
  }

  @media (min-width:960px) {
    .css57 {
      padding: 0 40px 48px 76px;
    }
  }

  .css57 p:first-child {
    margin-top: 0;
  }

  .css33 {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  @media (min-width:600px) {
    .css33 {
      flex-direction: row;
    }
  }

  .css34 {
    margin: 0 16px 0;
  }

  @media (min-width:600px) {
    .css34 {
      margin: 0 auto 48px;
      padding: 0 16px;
      max-width: 600px;
    }
  }

  @media (min-width:960px) {
    .css34 {
      margin: 0 auto 72px;
      padding: 0 32px;
      max-width: 800px;
    }
  }

  .css35 {
    margin: 48px auto;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 12px;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  @media (min-width:600px) {
    .css35 {
      flex-direction: row;
    }
  }

  @media (min-width:960px) {
    .css35 {
      width: auto;
      padding: 24px;
    }
  }

  .css35:last-child {
    margin-bottom: 0;
  }

  .css36 {
    margin: 24px auto;
    display: flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 12px;
    flex-direction: column;
    background-color: #f2f2f2;
  }

  @media (min-width:600px) {
    .css36 {
      flex-direction: row;
    }
  }

  @media (min-width:960px) {
    .css36 {
      width: auto;
      padding: 24px;
    }
  }

  .css37 {
    color: #999999;
  }

  .css38 {
    width: 80px;
    height: auto;
    margin-bottom: 16px;
  }

  @media (min-width:600px) {
    .css38 {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  @media (min-width:960px) {
    .css38 {
      margin-right: 24px;
    }
  }

  .css39 {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .css39 img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
  }

  .css40 {
    display: flex;
    margin-top: 24px;
    text-align: center;
    align-items: center;
  }

  @media (min-width:960px) {
    .css40 {
      margin-top: 32px;
    }
  }

  .css41 {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .css42 {
    color: #007aff;
  }

  .css43 {
    padding-top: 48px;
  }

  @media (min-width:960px) {
    .css43 {
      padding-top: 72px;
    }
  }

  .css44 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
  }

  .css45 {
    text-align: left;
  }

  .css16 {
    width: 45px;
    height: 60px;
    margin: 0 auto 16px;
    display: block;
  }

  @media (min-width:960px) {
    .css16 {
      margin-bottom: 24px;
    }
  }

  .css17 {
    text-align: center;
    padding-top: 48px;
  }

  @media (min-width:600px) {
    .css17 {
      padding-top: 72px;
    }
  }

  .css13 {
    margin: auto;
    max-width: 1200px;
  }
</style>

<main class="jsx-262e2477fd6b5ca">
  <div class="css15 css13">
    <div class="css17">
      <img 
        class="css16" 
        srcSet="{{ 'icon6252.png' | asset_url }}"
        alt="Ícone documento" 
      />
      <h2 class="css19 css22 css32">Política de vendas.</h2>
      <h3 class="css18 css24 css32">Justa e sem burocracia.</h3>
    </div>
    <div class="css33">
      <div class="css34">
        <section id="garantia" style="margin-top:-59px;padding-top:59px">
          <div class="css43">
            <h2 class="css19 css24 css32 css44">Garantia</h2>
            <p class="css18 css25 css32">
              Todos os produtos da {{ shop.name }} possuem uma durabilidade excepcional, por isso, realmente acreditamos que eles farão
              parte da sua vida por muito tempo.
            </p>
            <p class="css18 css25 css32">
              Entendemos, porém, que eventuais problemas podem acontecer. Caso esta hipótese pouquíssimo provável aconteça, nós
              sempre estaremos à disposição para te ajudar.
            </p>
          </div>
        </section>
        <section id="formas-de-envio" style="margin-top:-59px;padding-top:59px">
          <div class="css43">
            <h2 class="css19 css24 css32 css44">Formas de envio</h2>
            <p class="css18 css25 css32">
              A {{ shop.name }} oferece envio grátis para todo o Brasil. Para algumas regiões, é possível optar pelo envio expresso. Os
              prazos de entrega variam de acordo com cada região, por isso, são calculados durante a finalização do pedido.
            </p>
            <p class="css18 css25 css32">
              Os prazos de entrega passam a ser contabilizados após a postagem. Todos os pedidos são postados em até um dia útil
              após a confirmação do pagamento.
            </p>
          </div>
        </section>
        <section id="trocas-e-devolucoes" style="margin-top:-59px;padding-top:59px">
          <div class="css43">
            <h2 class="css19 css24 css32 css44">Trocas e devoluções</h2>
            <div class="css36">
              <div class="css41">
                <div class="css39"><img src="{{ 'icon_package.svg' | asset_url }}" alt="Ícone de uma caixa de papelão" /></div>
                <div class="css45">
                  <div class="css19 css28 css32">Solicite uma troca ou devolução</div>
                  <div class="css18 css28 css32 css37">
                    <a class="css10 css42" href="/pages/contact/">Fale com a equipe de suporte da {{ shop.name }} ›</a></div>
                </div>
              </div>
            </div>
            <p class="css18 css25 css32">Nós confeccionamos produtos de excelência porque realmente queremos que você adore ser nosso cliente. Entendemos,
              porém, que um produto comprado online pode não ser exatamente como você esperava, por isso, lhe reservamos o direito de solicitar uma troca ou
              devolução por qualquer motivo. É fácil, rápido e totalmente grátis.</p>
            <p class="css18 css25 css32">O prazo para solicitar uma troca ou devolução é de sete dias após a entrega do pedido. Para que a solicitação de
              troca ou devolução seja aceita, é imprescindível que o pedido esteja em perfeitas condições, sem indícios de mau uso.</p>
            <p class="css18 css25 css32">Em casos de devolução, o pagamento será reembolsado assim que o pedido retornar para a {{ shop.name }} e for cancelado.
              Pagamentos por cartão de crédito serão estornados na própria fatura, já pagamentos por Pix ou boleto bancário serão reembolsados via Pix ou
              transferência bancária.</p>
          </div>
        </section>
        <div class="css58"><img class="css60" src="{{ 'icon_double_chat_bubble-gray.svg' | asset_url }}" />
          <div>
            <div class="css19 css28 css32 css59">Precisa de ajuda?</div>
            <div class="css18 css28 css32 css59">Sempre estaremos aqui para te ajudar.</div>
            <div class="css18 css28 css32">
              <a class="css10 css61" href="href="https://wa.me/{{ shop.phone }}"">
                Fale com a equipe de suporte da {{ shop.name }} ›
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>