<style>
  .jss25 {
    margin: 0;
    padding: 0;
    font-family: avenir_heavy;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.06em;
  }

  .jss24 {
    margin: 0;
    padding: 0;
    font-family: avenir_book;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  .jss28 {
    font-size: 32px;
  }

  @media (min-width: 960px) {
    .jss28 {
      font-size: 56px;
    }
  }

  .jss30 {
    font-size: 24px;
  }

  @media (min-width: 960px) {
    .jss30 {
      font-size: 32px;
    }
  }

  .jss34 {
    font-size: 15px;
  }

  @media (min-width: 960px) {
    .jss34 {
      font-size: 16px;
    }
  }

  .jss38 {
    text-align: inherit;
  }

  .jss19 {
    width: 60px;
    height: 60px;
    margin: 8px;
    display: inline-block;
  }

  @media (min-width: 600px) {
    .jss19 {
      margin: 0 16px 0 0;
    }

    .jss19:last-child {
      margin-right: 0;
    }
  }

  .jss20 {
    width: auto;
    margin: auto;
    display: inline-block;
    padding: 8px;
    text-align: center;
    border-radius: 24px;
    background-color: #f2f2f2;
  }

  @media (min-width: 600px) {
    .jss20 {
      padding: 16px;
    }
  }

  .jss21 {
    margin: 0 16px;
    text-align: center;
    padding-bottom: 48px;
  }

  @media (min-width: 600px) {
    .jss21 {
      margin: auto;
    }
  }

  @media (min-width: 960px) {
    .jss21 {
      padding-bottom: 72px;
    }
  }

  .jss22 {
    padding-top: 16px;
  }

  .jss23 {
    padding: 48px 0;
  }

  @media (min-width: 960px) {
    .jss23 {
      padding: 72px 0;
    }
  }

  .jss31 {
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.4;
  }

  @media (min-width: 960px) {
    .jss31 {
      font-size: 20px;
      margin-top: 24px;
    }
  }

  .jss16 {
    width: 100%;
    margin: auto;
    max-width: 1000px;
  }

  .jss15 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .jss41 {
    margin: 0 16px;
  }

  @media (min-width: 960px) {
    .jss41 {
      margin: 0 auto;
    }
  }

  .jss39 {
    display: flex;
    padding-top: 48px;
    flex-direction: column;
  }

  @media (min-width: 960px) {
    .jss39 {
      padding-top: 72px;
      flex-direction: row-reverse;
    }
  }

  .jss40 {
    flex: none;
    width: 288px;
    height: 392px;
    margin: 48px auto 0;
  }

  @media (min-width: 960px) {
    .jss40 {
      width: 248px;
      height: 338px;
      margin-top: 0;
    }
  }

  .jss42 {
    width: 100%;
    margin: auto;
  }

  @media (min-width: 600px) {
    .jss42 {
      width: 568px;
      margin: 0 auto;
    }
  }

  @media (min-width: 960px) {
    .jss42 {
      width: 600px;
      margin-left: 48px;
    }
  }

  .jss43 {
    display: block;
  }

  .jss43 img {
    width: 100%;
    height: 100%;
  }
</style>

<div class="jss16 jss15">
  <div class="jss21">
    <div class="jss23">
      <h2 class="jss25 jss28 jss38">Um suporte incrível.</h2>
      <h3 class="jss24 jss30 jss38">Fácil, rápido e sem burocracia.</h3>
    </div>
    <div class="jss20">
      <div class="jss19">
        <a href="https://wa.me/{{ shop.phone }}" target="_blank">
          <img srcSet="{{ 'icon_whatsapp.png' | asset_url }}">
        </a>
      </div>
      <div class="jss19">
        <a href="mailto:{{ shop.email }}" target="_blank">
          <img srcSet="{{ 'icon_email.png' | asset_url }}" alt="Ícone Email">
        </a>
      </div>
    </div>
    <div class="jss22">
      <div class="jss25 jss34 jss38">Selecione o aplicativo</div>
      <div class="jss24 jss34 jss38 jss18">
        Prazo de resposta de
        <!--  -->
        <span class="jss25 jss34 jss38">um dia útil</span>
      </div>
    </div>
  </div>
  <div class="jss41">
    <div class="jss39">
      <div class="jss42">
        <h2 class="jss25 jss29 jss38">Precisa de ajuda?</h2>
        <h3 class="jss24 jss30 jss38">Nós vamos te ajudar.</h3>
        <p class="jss24 jss31 jss38">
          Sempre que precisar, você pode entrar em contato com a equipe de suporte da Casa Segura. Será um prazer te conhecer,
          tirar as suas dúvidas e te ajudar com tudo que você precisar.
        </p>
        <p class="jss24 jss31 jss38">
          Nós recebemos centenas de mensagens todos os dias, por isso, nem sempre conseguimos responder na hora. De
          qualquer forma, pode ficar tranquilo porque sempre vamos te responder em até um dia útil.
        </p>
      </div>
      {% comment %} <picture class="jss43 jss40">
        <source media="(min-width: 960px)" srcSet="{{  'phone.jpg'| asset_url }}">
        <img src="{{ 'phone-mobile-2x.jpg' | asset_url }}" alt="Bandeira do Brasil">
      </picture> {% endcomment %}
    </div>
  </div>
</div>